LOGIN_URL=https://subelo.lol/login
SUBELO_USER=monam80932@omanarts.com
SUBELO_PASS=fhasjkhdfjkalshdfjkahsdjkfhaskjdhf654564

# Sitekey Turnstile de subelo.lol (ya detectada)
TURNSTILE_SITEKEY=0x4AAAAAAEzWu-1po3ovlJXX

# Para pasar Cloudflare 100% automático, pega tu API key de CapSolver:
# https://www.capsolver.com  → AntiTurnstileTaskProxyLess
CAPSOLVER_API_KEY=

CDP_PORT=9222
MAX_TURNSTILE_TRIES=2